* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 17vh;
  margin: 0;
  position: relative;
  font-family: Quicksand;
}

section {
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}

.section__header {
  position: relative;
  bottom: -8vh;
}

.first {
  color: rgba(255, 255, 255, 0.3);
  background: #50233B;
  overflow: visible;
}

.first::before {
  content: '';
  position: absolute;
  width: 12vh;
  height: 12vh;
  border-radius: 5%;
  background: #50233B;
  left: 10vh;
  bottom: -5vh;
  transform: rotate(45deg);
  z-index: 1;
}

.second {
  color: rgba(255, 255, 255, 0.3);
  background: #FF9D00;
}

.second__image {
  height: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  filter: blur(10px);
  transition: filter 500ms;
}

.second__image:hover {
  filter: blur(0px)
}

.third {
  color: rgba(255, 255, 255, 0.3);
  background: #8EA700;
}

.third__button {
  border: none;
  border-radius: 10px;
  width: 15vw;
  height: 5vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font: small-caps 800 30px 'Quicksand';
  background: #92004e;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: background 200ms ease-in,
              box-shadow 200ms ease-in;
}

.third__button:hover {
  background: #50233b;
  box-shadow: 0px 11px 25px 0px rgba(58, 68, 0, 0.5);
}

.fourth {
  color: rgba(255, 255, 255, 0.3);
  background: repeating-linear-gradient(120deg, #004a84 0%, #004a84 5%, #00467b 5%, #00467b 10%);
}

.fourth__goodbye-message {
  color: white;
  position: absolute;
  width: 100%;
  top: 15%;
  padding: 2vw 2.5vw;
  border-width: 5px 0 5px 0;
  border-style: double;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 35px 78px 16px rgba(35, 35, 35, 0.50),
              0px 3px 5px 1px #454545;
  text-align: center;
}

.fourth__goodbye-message h1 {
  font-size: 45px;
  font-weight: 800;
  margin: 0 0 1% 0;
}

.fourth__goodbye-message p {
  font-size: 20px;
  font-style: italic;
}

.go-to-top__button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50px;
  bottom: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

.go-to-top__button::after, .go-to-top__button::before {
  content: '';
  position: absolute;
  background-color: #012d50;
  border-radius: 10%;
  width: 20px;
  height: 5px;
  top: 29px;
}

.go-to-top__button::before {
  transform: rotate(45deg);
  transform-origin: right center;
  left: 18px;
}

.go-to-top__button::after {
  transform: rotate(-45deg);
  transform-origin: left center;
  left: 13px;
}

section {
  height: 100vh;
  position: relative;
}

.backgrounds__header {
  padding: 10vh;
  text-align: center;
  font-size: 15vh;
  font-weight: 700;
  color: #eee;
}

.backgrounds__first {
  background: repeating-linear-gradient(120deg, #004a84 0%, #004a84 5%, #00467b 5%, #00467b 10%);
}

.backgrounds__second {
  background: #50233B;
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 20%, transparent 0),
                    radial-gradient(rgba(0, 0, 0, 0.05) 30%, transparent 0);
  background-size: 500px 500px;
  background-position: 0 0, 250px 250px;
}

.backgrounds__third {
  background: linear-gradient(135deg, rgba(255, 207, 0, 0.2) 25%, transparent 25%) -250px 0,
              linear-gradient(225deg, rgba(255, 207, 0, 0.2) 25%, transparent 25%) -250px 0,
              linear-gradient(315deg, rgba(255, 207, 0, 0.2) 25%, transparent 25%),
              linear-gradient(45deg, rgba(255, 207, 0, 0.2) 25%, transparent 25%);
  background-size: 500px 500px;
  background-color: #FF9D00;
}

.backgrounds__fourth {
  background-color:#f1f1f1;
  background: linear-gradient(30deg, #efecec 12%, transparent 12.5%, transparent 87%, #efecec 87.5%, #efecec),
              linear-gradient(150deg, #efecec 12%, transparent 12.5%, transparent 87%, #efecec 87.5%, #efecec),
              linear-gradient(30deg, #efecec 12%, transparent 12.5%, transparent 87%, #efecec 87.5%, #efecec),
              linear-gradient(150deg, #efecec 12%, transparent 12.5%, transparent 87%, #efecec 87.5%, #efecec),
              linear-gradient(60deg, #fafafa 25%, transparent 25.5%, transparent 75%, #fafafa 75%, #fafafa),
              linear-gradient(60deg, #fafafa 25%, transparent 25.5%, transparent 75%, #fafafa 75%, #fafafa);
  background-size: 640px 1120px;
  background-position: 0 0, 0 0, 320px 560px, 320px 560px, 0 0, 320px 560px;
}

.backgrounds__fifth {
  background-color: rgb(41, 107, 0);
  background-image: linear-gradient(90deg, rgba(151, 213, 0, 0.6) 50%, transparent 50%),
                    linear-gradient(rgba(151, 213, 0, 0.5) 50%, transparent 50%);
  background-size: 25vh 25vh;
}
