* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 17vh;
  margin: 0;
  font-family: Quicksand;
}

section {
  height: 80vh;
}

.section__header {
  position: relative;
  bottom: -8vh;
}

.first {
  color: rgba(255, 255, 255, 0.3);
  background: #50233B;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.first::before {
  content: '';
  position: absolute;
  width: 12vh;
  height: 12vh;
  border-radius: 5%;
  background: #50233B;
  left: 10vh;
  bottom: -5vh;
  transform: rotate(45deg);
  z-index: 1;
}

.second {
  color: rgba(255, 255, 255, 0.3);
  background: #FF9D00;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}

.second__image {
  height: 40%;
  position: absolute;
  left: 45%;
  top: 25%;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  filter: blur(10px);
  transition: all 500ms;
}

.second__image:hover {
  filter: blur(0px)
}

.third {
  color: rgba(255, 255, 255, 0.3);
  background: #8EA700;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}

button {
    border-radius: 10px;
    width: 15vw;
    height: 5vw;
    position: absolute;
    left: 45%;
    top: 25%;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:active {
    transform: scale(0.99);
}
